---
import Layout from '../layouts/Layout.astro'
// import Launches from '../components/Launches.astro';
import Card from '@/components/Card.jsx';
import Search from '@/components/Search.jsx';

---

<Layout title="Weather app">
    <section class="px-5 py-5 gap-5 flex flex-col items-center justify-center grid place-content-center">
        <header class="py-4 px-4 min-w-screen grid place-content-center">
            <div class="mb-4 tracking-tight font-extrabold text-white flex flex-col items-center">
                <h2 class="mb-3 text-5xl">Weather app try</h2>
            </div>
        </header>
        <Search client:visible/>
        <Card client:visible/>
    </section>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        /* width: 800px; */
        max-width: calc(100% - 2rem);
        min-width: calc(100% - 4rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
        text-align: center;
    }
    h1 {
        font-size: 2rem;
    }
</style>
